src/main/mule/cicdhelloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3122932-1b59-4db0-82dc-a47fe4b70e4a" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="cicdhelloworldFlow" doc:id="6c3cfcd1-aee0-40c9-ba8e-5d3c6562135b" >
		<http:listener doc:name="Listener" doc:id="745aef4a-b915-4c7b-8271-dcd40beb5d20" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["succesfully launched cicd flow"]' doc:name="Set Payload" doc:id="fa8324f6-a916-46b2-be50-20d1b12ea4fb" />
	</flow>
</mule>
